name: HACS Validation
on:
  push:
  pull_request:
jobs:
  hacs_validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run HACS validation
        uses: hacs/action@main
        with:
          category: "integration"
